/* START - Steps */
.column-nowrap {
    flex-flow: column nowrap;
}

#steps {
    text-align: center;
    background-color: #FE7E01;
    position: relative;
}

#steps::before {
    content: '';
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    /* bottom: 55%; */
    left: 48.8%;
    height: 237px;
}

#steps-left {
    margin-left: -30px;
    width: 520px;
    height: auto;
    background-image: url(../_img/about_2.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    margin-right: -40px;
    z-index: 2;
}

#steps-right {
    height: auto;
    margin-right: auto;
    text-align: center;
}

#steps-info {
    height: 237px;
    padding-top: 60px;
    margin-right: auto;
    text-align: center;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 15px;
    max-height: calc(237px - 60px);
    margin-left: -15px;
}

#steps-info h4 {
    font-size: 35px;
    text-align: left;
    padding-left: 30px;
}

#steps-info h5 {
    color: #FE7E01;
    padding-left: 60px;
    text-align: left;
}

#steps-info p {
    color: #1E1713;
    text-align: justify;
    height: auto;
    font-size: 20px;
    padding: 30px;
}

#steps-card {
    flex: 1;
}

.steps-cards {
    background-color: #2E879B;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 5px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.steps-cards img {
    margin-bottom: 10px;
}

.steps-cards h6 {
    color: #FE7E01;
    font-size: 15px;
    margin-bottom: 10px;
}

.steps-cards p {
    color: #ffffff;
    font-size: 15px;
}

/* END - Steps */